*{
	margin:0px;
	padding:0px;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

header,section,footer{
	width: 1200px;
	margin: 0 auto;
	background-color: powderblue;

}

header,footer{
	height: 150px;
	
}

section{
	margin: 20px auto;
	overflow: hidden;
}

section>div{
	float: left;
	background-color: gray;
	height: 600px;
	margin-left:10px;
}

.left_show{
	width: 620px;
}

.pic{
	height: 480px;
	margin: 10px;
	border: 2px solid black;
	background-color: khaki;

}
.control_panel{
	height: 80px;
	margin: 10px;
	border: 2px solid black;
	background-color: burlywood;
	
}

.right_code_area{
	width: 550px;
}
.blockly{
	width: 520px;
	height: 580px;
	margin: 10px;
	border: 2px solid black;
	background-color: khaki;
}